<div class="center-text">
    <h4> {{content}} </h4>
    <ion-spinner class="spinner-assertive"></ion-spinner>
    
    <div class="row" ng-show="showButtons">
        <div class="col col-50">
            <button class="button button-assertive button-block" ng-click="cancel()">
                Cancel
            </button>
        </div>
        <div class="col col-50">
            <button class="button button-assertive button-block" ng-click="openSettings()"> 
                Wifi settings
            </button>      
        </div>
    </div>

</div>