<ion-view view-title="Configure Wifi">
  <ion-content class="padding">
    <h4 style="text-align: center">Network: {{wifi.ssid}}</h4>
    <hr>
    <ion-list>
          <label class="item item-input item-floating-label">
            <span class="input-label">Network description</span>
            <input required type="text" placeholder="Network description" ng-model="wifi.description">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Wireless password</span>
            <input type="password" placeholder="Wireless password" ng-model="wifi.password">
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Password confirmation</span>
            <input type="password" placeholder="Password confirmation" ng-model="wifi.passwordConfirm">
          </label>

        </ion-list>
    
    <div class="row">
        <div class="col col-50">
            <button ng-click="wifi.cancel()" class="button button-block button-outline button-assertive" shake-me>
                <i class="ion-close"></i>
            </button>
        </div>

        <div class="col col-50">
            <button ng-disabled="!(wifi.description !='' && wifi.password == wifi.passwordConfirm)" ng-click="wifi.save()" class="button button-block button-outline button-positive">
                <i class="ion-checkmark"></i>
            </button>
        </div>
    </div>
    


  </ion-content>
</ion-view>